{
  "extends": "eslint:recommended",

  "rules": {
    "strict": ["off", "global"],
    "indent": ["warn", 2, {
      "VariableDeclarator": {"var": 2, "let": 2, "const": 3},
      "SwitchCase": 2
    }],
    "no-unused-vars": "off",
    "quotes": ["error", "backtick"],
    "no-console": "warn",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error"
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "jquery": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "impliedStrict": true
  },
  "globals": {
    "angular": true,
    "kendo": true
  }
}
